$light-color: #f4f4f4;
$font-stack: Arial,Helvetica, sans-serif;
$primary-color: rgb(232, 240, 232);
$secondary-color: #ff8700;
$text-secondarycolor: #fff;

@function set-color($color) {
    @if (lightness($color) > 50) {
        @return #333;
    } @else {
        @return #fff;
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-color($color )
}
//creating for each loops
$spaceamounts: (1,2,3,4,5,6);

@each $space in $spaceamounts {
     .m-#{$space} {
         margin: #{$space}rem;
     }
     .my-#{$space} {
        margin: #{$space}rem;
    }
    .p-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
       padding: #{$space}rem;
   }
}
